section {
    height: 80vh;
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.8em;
    font-size: 1.3em;
    padding-top: 14vh;
    position: relative;
    color: var(--tertiary-color-light);
}

div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    padding: 0 2em;
    gap: .5em;
}

button {
    background-color: #000000;
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    font-size: .9em;
    color: var(--tertiary-color);
    border: none;
    cursor: pointer;
}

.reload-container {
    align-items: center;
}

.reload {
    transition: transform 0.5s ease-in-out;
}

.reload-container:hover .reload {
    transform: rotate(360deg);
}

.table {
    padding: 0;
    text-align: center;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    overflow: scroll;
    border-radius: .2em;
}

app-ranking-table {
    width: 100%;
}

span {
    font-size: 2.6em;
}