<nav>
    <div class="logo">
        <a routerLink="/{{routes.HOME}}">
            <app-page-logo />
        </a>
        <h1>Turtle Quotes</h1>
    </div>

    <ul *ngIf="(isAuthenticated$ | async) === false else dropdownMenu" class="nav-links">
        <li>
            <button class="active" (click)="openAuthDialog('login')">Login</button>
        </li>
        <li>
            <button class="active" (click)="openAuthDialog('register')">Register</button>
        </li>
    </ul>

    <ng-template #dropdownMenu>
        <app-logged-dropdown-menu />
    </ng-template>
</nav>