.logged-dropdown-menu {
    position: relative;

    & p {
        color: var(--tertiary-color);
        text-transform: capitalize;
    }
}

.user-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active {
        transform: scale(0.95);

        ::ng-deep app-user-logo svg {
            fill: var(--tertiary-color);
        }
    }
}

.dropdown-menu {
    position: absolute;
    top: 125%;
    left: -7em;
    background-color: #232c40;
    padding: .8em 0;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .5em;
    z-index: 3;
    border-radius: .3em;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 83%;
        width: 0;
        height: 0;
        border: 0.563em solid transparent;
        border-bottom-color: #232c40;
        border-top: 0;
        margin-left: -0.562em;
        margin-top: -0.562em;
    }
    & button {
        border: none;
        background-color: transparent;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        width: calc(100% - 4px);
        color: var(--tertiary-color-light);
        display: flex;
        align-items: center;
        gap: 1.5em;
        padding: .7em 1.7em;


        &:hover {
            box-shadow: -4px 0px 0px 0px var(--tertiary-color);
            background-color: #ffffff3d;
        }
    }
}