<dialog (click)="closeAuthDialog($event)">
    <article (click)="$event.stopPropagation()" class="open-dialog">
        <header>
            <span>
                <button (click)="changeSelectedForm('register', $event)" class="tabs">Register</button>
                <div
                    [ngClass]="{'animated-border': ($selectedForm | async)  === 'login', 'fixed-border': ($selectedForm | async)  === 'register'}">
                </div>
            </span>
            <span>
                <button (click)="changeSelectedForm('login', $event)" class="tabs">Login</button>
                <div
                    [ngClass]="{'animated-border': ($selectedForm | async) === 'register', 'fixed-border': ($selectedForm | async) === 'login'}">
                </div>
            </span>

            <button class="close" (click)="closeAuthDialog($event)">
                <svg fill="#fff" height="23" width="23" viewBox="0 0 384 512">
                    <path
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
            </button>
        </header>
        <main>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <ng-container *ngIf="($selectedForm | async) === 'register'">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" autocomplete="username"
                        formControlName="name" />
                    <p *ngIf="fieldErrorMessage(authForm.get('name'))" class="validation-error">
                        {{ fieldErrorMessage(authForm.get('name')) }}
                    </p>
                </ng-container>

                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" autocomplete="email" formControlName="email" />
                <p *ngIf="fieldErrorMessage(authForm.get('email'))" class="validation-error">
                    {{ fieldErrorMessage(authForm.get('email')) }}
                </p>

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" formControlName="password" />
                <p *ngIf="fieldErrorMessage(authForm.get('password'))" class="validation-error">
                    {{ fieldErrorMessage(authForm.get('password')) }}
                </p>


                <footer>
                    <ng-container *ngIf="(isLoadingResponse$ | async) === true else submitButtons">
                        <span class="loader"></span>
                    </ng-container>

                    <ng-template #submitButtons>
                        <ng-container *ngIf="($selectedForm | async) === 'register' else loginSubmitButtonTemplate">
                            <button *ngIf="(isLoadingResponse$ | async) === false" class="submit-button"
                                [disabled]="!authForm.valid">Register</button>
                            <span *ngIf="(isLoadingResponse$ | async)" class="loader"></span>
                        </ng-container>

                        <ng-template #loginSubmitButtonTemplate>
                            <button class="submit-button" [disabled]="!authForm.valid">Login</button>
                        </ng-template>
                    </ng-template>
                </footer>
            </form>
        </main>
    </article>
</dialog>