@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #1c2052;
    --secondary-color: #502570;
    --secondary-color-light: #8651aba4;
    --tertiary-color: #d27dd6;
    --tertiary-color-light: #f0d9f1;
    --error-color: #db0c0c;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inconsolata', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: #000000;
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
}